<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Webpage</title>
    <link rel="stylesheet" href="style.css">

    body {
        background-color: #000000;
        background-image: url('back.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            padding: 20px;
        }

        .card {
            background-color: #4f1bfb;
            border-radius: 10px;
            box-shadow: 10px 5px 5px rgb(169, 145, 255);;
            text-align: center;
            padding: 10px;
            width: calc(33.33% - 20px);
            box-sizing: border-box;
        }

        .card-title {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .card-img {
            max-width: 50%;
            border-radius: 5px;
        }

        .card-desc {
            font-size: 20px;
            color: #ffffff;
        }

</head>
<body>

</div>
</body>
</html>
